name: build
on:
  push:
    branches: [main]
  pull_request:
    paths:
      - '**.go'
permissions:
  contents: read
jobs:
  interceptor:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: "1.21"
      - uses: actions/checkout@v3
      - name: Build Interceptor
        run: make build-interceptor
